@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@600&family=Playfair+Display:wght@400;500;600;800&family=Poppins:ital,wght@1,100;1,400;1,500;1,600;1,700&family=Quicksand&family=Tilt+Prism&family=Tourney:ital@1&family=Ysabeau+SC:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    background: linear-gradient(rgb(0, 85, 255),white) no-repeat;
    /* background-attachment: fixed; */
    background-size:cover;
    background-position:center;
    display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10rem;
}
.wrapper{
    position: relative;
    width:400px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    /* background: transparent; */
    border:2px solid rgba( 0, 0, 0,.5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(217, 212, 212, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    transition: height .2s ease;
}

.wrapper.active{
    height: 520px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.form-box h2{
    font-size: 2rem;
    color: rgb(28, 31, 32);
    text-align: center;
    letter-spacing: .1rem;
}

.input-box{
    position: relative;
    width:100%;
    height: 50px;
    border-bottom: 2px solid #000000;
    margin: 30px 0;
}

/* .wrapper .form-box.login{
    display: none;
} */

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform:translateX(0px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.input-box label{
    position: absolute;
    font-size: 1em;
    color: #131415;
    font-weight: 500;
    pointer-events: none;
}

.input-box ::placeholder{
    color: rgb(67, 65, 65);
}

.input-box input{
    margin-left: 5.2rem ;
    line-height: 1.8;
    padding-left: .2rem;
    width: 60%;
    background:transparent;
   border: transparent;
   outline: none;
}

.input-box span i{
    position: absolute;
    right: 8px;
    line-height: 57px;
}

.remeber-forgot{
    font-size: .9rem;
    color: rgb(14, 23, 23);
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.remeber-forgot label input{
    accent-color: rgb(15, 15, 29);
    margin-right: .5rem;
}

.remeber-forgot a{
    color: #12171c;
}

.remeber-forgot a:hover{
    color: rgb(30, 18, 22);
}
.btn{
    width:100%;
    height: 2rem;
    background-color: #27343e;
    color: aliceblue;
    margin-top: .7rem;
    outline: none;
}

.login-register{
    font-size: .9rem;
    color: rgb(15, 19, 22);
    text-align: center;
    font-weight: 400;
    margin-top: 1.5rem;
}

.login-register a{
    color: #001a2d;
    margin-left: .5rem;
}

.login-register a:hover{
    color:rgb(20, 82, 96) ;
}


@media(max-width:962px){
    body{
        /* background: url(img5.avif); */
        height: 100%;
        width: 100vw;
        background-size:initial;
        background-position:center;
        display: flex;
       align-items: center;
       justify-content: center;
       margin-top: 5rem;
    }
}

@media (max-width:341px){
    .input-box span i{
        display: none;
    }
}

@media(max-width:320px){
    .form-box h2{
        font-size: 1rem;
        color: rgb(140, 203, 232);
        text-align: center;
        letter-spacing: .1rem;
    }

    .login-register{
        font-size: .9rem;
        color: aliceblue;
        text-align: center;
        font-weight: 400;
        margin-top: .5rem;
    }
}