* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark light;
}

#videos {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  overflow: hidden;
}

.video-player {
  background: black;
  width: 100%;
  height: 100vh;
  /* object-fit: cover; */
}

#user-2 {
  display: none;
}

.smallFrame {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 170px;
  width: 300px;
  border-radius: 5px;
  border: 2px solid rgba(35, 144, 255, 0.9);
  -webkit-box-shadow: 3px 3px 15px -1px rgba(0, 0, 0, .77);
  box-shadow: 3px 3px 15px -1px rgba(0, 0, 0, .77);
  z-index: 999;
}

#controls {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1em;
}

.control-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(35, 144, 255, 0.9); 
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
  color: white;
  transition: .7s ease;
}

#leave-btn {
  background-color: rgba(255, 80, 80, 1);
}

.control-container:hover{
  color: black;
}

.control-container svg {
  height: 30px;
  width: 30px;
}

@media screen and (max-width:600px) {
  .smallFrame{
    height: 80px;
    width: 120px;
  }

  .control-container svg {
    height: 20px;
    width: 20px;
  }
}