<header class="header">

        <a href="/" class="logo"><img src="images/megatronix.png" alt=""> MEGA - CODE</a>

        <nav class="navbar">
            <a href="/" class="hover-underline">HOME</a>
            <a href="https://atulsingh11-0.github.io/Peer-2-Peer-VC/lobby.html" class="hover-underline">ONLINE VIDEO CLASS</a>
            <a href="/quiz" class="hover-underline">QUIZ</a>
            <a href="/omr" class="hover-underline">OMR CHECK</a>
            <a href="#contact" class="hover-underline">CONTACT</a>
            <a href="#" class="hover-underline">QUERY</a>
        </nav>

        <div class="icons">
            <a href="/register">
                <div id="login-btn" class="fas fa-user"></div>
            </a>
            <div id="menu-btn" class="fas fa-bars"></div>
        </div>

    </header>