<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega-Code | Home</title>
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- custom css link -->
    <link rel="stylesheet" href="css/homePageStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tektur:wght@500&family=Trade+Winds&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap" rel="stylesheet">
</head>

<body>

    <!-- header section starts -->

    {{>navbar}}

    {{!-- <header class="header">

        <a href="/" class="logo"><img src="images/megatronix.png" alt=""> MEGA - CODE</a>

        <nav class="navbar">
            <a href="/" class="hover-underline">HOME</a>
            <a href="https://atulsingh11-0.github.io/Peer-2-Peer-VC/lobby.html" class="hover-underline">ONLINE VIDEO CLASS</a>
            <a href="/quiz" class="hover-underline">QUIZ</a>
            <a href="#" class="hover-underline">OMR CHECK</a>
            <a href="#contact" class="hover-underline">CONTACT</a>
            <a href="#" class="hover-underline">QUERY</a>
        </nav>

        <div class="icons">
            <a href="/register">
                <div id="login-btn" class="fas fa-user"></div>
            </a>
            <div id="menu-btn" class="fas fa-bars"></div>
        </div>

    </header> --}}

    <!-- header section ends -->

    <!-- home section starts-->

    <section class="home" id="home">

        <div class="content row">
            <h3>MEGATRONIX </h3>
            <p>Technical Club Of MEGNAD SAHA INSTITUTE OF TECHNOLOGY</p>
            <a href="http://www.msitmegatronix.in/" class="btn" target="_blank">
                <span class="text text-1">learn more</span>
                <span class="text text-2" aria-hidden="true">learn more</span>
            </a>

        </div>
        <div class="col2">
            <img src="images/CODE.gif" class="col-2-img" alt="">
        </div>
    </section>

    <!-- home section ends -->

    <!-- about section starts -->

    <section class="about" id="about">

        <h1 class="heading">about us</h1>

        <div class="container">

            <figure class="about-image">
                <img src="images/about-1.jpg" alt="" height="500">
                <img src="images/about-2.jpg" alt="" class="about-img">
            </figure>

            <div class="about-content">
                <h3>Full fledged E-Learning Platform</h3>
                <p> e-learning is the act of learning or educating via digital resources such as software programmes, mobile devices and the internet. The use of digital platforms for learning is vividly changing our education system.</p>
                <p>So, this website will give you every feature like online video class, omr check, contact with us, doubt clearing and everything. we can guarantee you that you have never seen any e-learning platform that has all the features like us</p>
                <a href="#" class="btn">
                    <span class="text text-1">read more</span>
                    <span class="text text-2" aria-hidden="true">read more</span>
                </a>
            </div>

        </div>

    </section>

    <!-- about section ends -->

    <!-- subjects section starts -->

    <!-- <section class="subjects">

        <h1 class="heading">our popular subjects</h1>

        <div class="box-container">

            <div class="box">
                <img src="images/about-1.jpg" alt="">
                <h3>CODING</h3>
                <p>fun & challenging</p>
            </div>

            <div class="box">
                <img src="images/about-1.jpg" alt="">
                <h3>CODING</h3>
                <p>fun & challenging</p>
            </div>

            <div class="box">
                <img src="images/about-1.jpg" alt="">
                <h3>CODING</h3>
                <p>fun & challenging</p>
            </div>

            <div class="box">
                <img src="images/about-1.jpg" alt="">
                <h3>CODING</h3>
                <p>fun & challenging</p>
            </div>

        </div>

    </section> -->

    <!-- subject section ends -->



    <!-- blog section starts -->

    <section class="domain" id="domain">

        <h1 class="heading">OUR Subjects</h1>

        <div class="box-container">

            <div class="box">
                <div class="image shine">
                    <img src="images/coding.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Data Sctructure and Algorithm Course</h3>
                    <p>Maximum Cream Coders of MSIT come from the Coding domain of Megatronix Only</p>
                    <a href="#" class="btn">
                        <span class="text text-1">read more</span>
                        <span class="text text-2" aria-hidden="true">read more</span>
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="image shine">
                    <img src="images/robotics.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Artificial Intelligence & Machine Learning</h3>
                    <p>Maximum Cream Coders of MSIT come from the Coding domain of Megatronix Only</p>
                    <a href="#" class="btn">
                        <span class="text text-1">read more</span>
                        <span class="text text-2" aria-hidden="true">read more</span>
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="image shine">
                    <img src="images/electrical.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Data Science with real time implementation</h3>
                    <p>Maximum Cream Coders of MSIT come from the Coding domain of Megatronix Only</p>
                    <a href="#" class="btn">
                        <span class="text text-1">read more</span>
                        <span class="text text-2" aria-hidden="true">read more</span>
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="image shine">
                    <img src="images/civil.jpeg" alt="">
                </div>
                <div class="content">
                    <h3>Website and Android Development Course</h3>
                    <p>Maximum Cream Coders of MSIT come from the Coding domain of Megatronix Only</p>
                    <a href="#" class="btn">
                        <span class="text text-1">read more</span>
                        <span class="text text-2" aria-hidden="true">read more</span>
                    </a>
                </div>
            </div>
            {{!-- <div class="box">
                <div class="image shine">
                    <img src="images/general.jpg" alt="">
                </div>
                <div class="content">
                    <h3>GENERAL</h3>
                    <p>Maximum Cream Coders of MSIT come from the Coding domain of Megatronix Only</p>
                    <a href="#" class="btn">
                        <span class="text text-1">read more</span>
                        <span class="text text-2" aria-hidden="true">read more</span>
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="image shine">
                    <img src="images/Gaming.jpg" alt="">
                </div>
                <div class="content">
                    <h3>GAMING</h3>
                    <p>Maximum Cream Coders of MSIT come from the Coding domain of Megatronix Only</p>
                    <a href="#" class="btn">
                        <span class="text text-1">read more</span>
                        <span class="text text-2" aria-hidden="true">read more</span>
                    </a>
                </div>
            </div> --}}
        </div>

    </section>

    <!-- blog section ends -->
    <!-- teacher section starts -->

    {{!-- <section class="teacher" id="teacher">

        <h1 class="heading">our expert teacher</h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="images/Agnik.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>AGNIK MONDAL</h3>
                    <span>Frontend Developer</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/about-1.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>ATUL SINGH</h3>
                    <span>Backend Developer</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/POORVA.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>POORVA ADHIKARY</h3>
                    <span>Frontend Developer</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/KANCHAN.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>KANCHAN PRAMANIK</h3>
                    <span>Machine Learning Developer</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/AYANTIKA.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>AYANTIKA BISWAS</h3>
                    <span>Machine Learning Developer</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/SHIVAM.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>SHIVAM DAS</h3>
                    <span>Machine Learning Developer</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="images/ASUTOSH.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>ASHUTOSH RAJ</h3>
                    <span>Frontend Developer</span>
                </div>
            </div>
        </div>

    </section> --}}

    <!-- teacher section ends -->
    <!-- contact section starts -->

    <section class="contact" id="contact">

        <h1 class="heading">contact us</h1>

        <div class="row">
            <div class="image">
                <img src="images/about-1.jpg" alt="">
            </div>
            <form action="">
                <h3>send us a message</h3>
                <input type="text" placeholder="name" class="box">
                <input type="email" placeholder="email" class="box">
                <input type="number" placeholder="phone number" class="box">
                <textarea placeholder="message" class="box" cols="30" rows="10"></textarea>
                <a href="#" class="btn">
                    <span class="text text-1">send message</span>
                    <span class="text text-2" aria-hidden="true">send message</span>
                </a>
            </form>
        </div>

    </section>

    <!-- contact section ends -->

    <!-- footer section stars -->

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>MEGATROIX</h3>
                <p>It is not a club, it is a talented family</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>

            <div class="box">
                <h3>contact us</h3>
                <p>0000000000</p>
                <a href="#" class="link">abcd@gmail.com</a>
            </div>

            <div class="box">
                <h3>Location</h3>
                <p>IIT Anandapur <br>
                    MSIT</p>
            </div>

        </div>
        <div class="credit">created by <span><a href="#">Megacode</a> </span>| all rights are reserved!</div>
    </section>

    <!-- footer section ends -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- custom js -->
    <script src="js/homePageScript.js"></script>
</body>

</html>