<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega-Code | OMR</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="/css/omrStyle.css">
</head>
<body>
    <div class="wrapper">
        <header>Upload your File</header>
        <form action="#">
            <input type="file" class="file-input" name="file" hidden>
            <i class="fas fa-cloud-upload-alt"></i>
            <p>Browse file to upload</p>
        </form>
        <section class="progress-area">
            <!-- <li class="row">
                <i class="fas fa-file-alt"></i>
                <div class="content">
                    <div class="details">
                        <span class="name">
                            image_01.png ~ Uploading
                        </span>
                        <span class="present">50%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress"></div>
                    </div>
                </div>
                
            </li> -->
        </section>
        <section class="uploaded-area">
            <!-- <li class="row">
                <div class="content">
                    <i class="fas fa-file-alt"></i>
                    <div class="details">
                        <span class="name">image_01.png ~ Uploaded</span>
                        <span class="size">70 KB</span>
                    </div>
                </div>
                <i class="fas fa-check"></i>
            </li> -->
            <!-- <li class="row">
                <div class="content">
                    <i class="fas fa-file-alt"></i>
                    <div class="details">
                        <span class="name">image_01.png ~ Uploaded</span>
                        <span class="size">70 KB</span>
                    </div>
                </div>
                <i class="fas fa-check"></i>
            </li>
            <li class="row">
                <div class="content">
                    <i class="fas fa-file-alt"></i>
                    <div class="details">
                        <span class="name">image_01.png ~ Uploaded</span>
                        <span class="size">70 KB</span>
                    </div>
                </div>
                <i class="fas fa-check"></i>
            </li>
            <li class="row">
                <div class="content">
                    <i class="fas fa-file-alt"></i>
                    <div class="details">
                        <span class="name">image_01.png ~ Uploaded</span>
                        <span class="size">70 KB</span>
                    </div>
                </div>
                <i class="fas fa-check"></i>
            </li> -->
        </section>
        <div id="sub">
            <button id="markButton" onclick="showMark()">Generate Marks</button>
            <h1 id="markValue"></h1>
        </div>
        
    </div>
    <script src="/js/omrScript.js"></script>
    
</body>
</html>