<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/css/queryStyle.css" />
  </head>
  <body>
    <br />
    <h1 style="text-align: center">Query and Doubt Solving</h1>
    <br /><br />
    <div id="chat">
      <ul id="messages">
      </ul>
      <form id="chat-form">
        <input id="message" type="text" placeholder="Enter your message" />
        <input type="file" accept="image/*" />
        <button>Send</button>
      </form>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/queryScript.js"></script>
</html>
