<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega-Code | Quiz</title>
    <link rel="stylesheet" href="css/quizFront.css">
</head>
<body>
    <h1 >Are you guys excited for the Quiz??</h1>
    <div class="totalset">
    <div class="set">
        <a href="/quizSet1"><button>Set 1</button></a>
    </div>
    <div class="set">
        <a href="/quizSet2"><button>Set 2</button></a>
    </div>
</div>
</body>
</html>